body {

  background-color: #6E0D25 ;
  text-align: center;
  color : #FFFFB3 ;
  padding :10px;
  margin :10px;

}


h1 {
  font-size:5vw;
  font-weight: bolder;
}

h2{
  font-size: 2vw;
  font-style: italic;
  margin-bottom: 50px;
  
}


.welcome {
background: url('./Images/victoria-shes.jpg') no-repeat center fixed;     
background-size: cover;
    
}

.btn{
  margin-top: 60%;
  background-color:#6E0D25 !important;
  height: 50%;
 color:#FFFFB3;
  padding: auto;
}

.ingredients {
 
  color : black ;

}

.container {
  height : 80vh ;
}

.error {
  background-color: rgb(196, 104, 104);
  margin :40px;
  padding :5px;

}
.recipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.meal {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #FFFFB3;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;

}
.meal h3{
  margin-top: 10px;
  margin-bottom: 5px;
}


.ingredients form input {
  font-size: 2vw;
  border: none;
 
  margin: 3px;
  border-radius: 5px;
  height: auto;
  padding :2px;
}

.ingredients form input[type="text"] {
  padding :5px;
  width: 50%;
  color: gray;
  font-style: italic;
}

.ingredients form input[type="submit"] {
  width: 25%;
  background-color: #DCAB6B;
  color: black;
}

footer {
  background-color: #DCAB6B;
 color :black;
 font-style: italic;
 margin-top : 10px;
}